<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Byron Gibson</title>
<meta name="author" content="">
<meta name="msvalidate.01" content="9CB702ACD3DBCABB73DEE116ADD8AD85" />
<meta name="description" content="My testing ground for all things web development.">
<meta name="keywords" content="html5 css3 javascript spa single-page-app d3.js react.js data visualization dataviz yeoman.io gruntjs bower">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--- Place favicon.ico and apple-touch-icon.png in the root directory --->
<!--<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">-->

<!--- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --->
<!--[if lt IE 9]>
<script src="/scripts/lib/html5shiv.js"></script>
<script src="/scripts/lib/respond.js"></script>
<![endif]-->

<link rel="stylesheet" href="/styles/main.css">
<script src="/scripts/lib/modernizr.js"></script>
<script>
  yepnope([{
    load: 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js',
    complete: function () {
      if (!window.jQuery) {
        yepnope('local/jquery.min.js');
      }
    }
  }
</script>

</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
